extends layouts/default

block content
  header-13 
    header.header-13
      .container
        .row
          .span11.offset1
            a.brand(href='#')
              img(src='/icons/Infinity-Loop@2x.png', width='100', height='100', alt='')
    section.header-13-sub.v-center.bg-midnight-blue
      div
        .background
        .container
          .row
            .span5.offset1
              h3 The Second Sneak-Peek of Startup Framework
              p.lead
                | Startup Framework works fine on devices supporting Retina Display.
                br
                | Feel the clarity in each pixel.
              br
              .row
                a.btn.btn-danger.btn-huge.span3(href='#') Buy in Appstore
            .span4.offset1
              img.hidden-phone(src='/img/iphone.png', alt='')
    //
       content-14  
    section.content-14.v-center
      div
        .container
          h3 Crowdshipper
          p.lead
            | Now Ship Your goods for near free
          .row.features
            .span2
              .box-1
                h6 Money
                | You can save money on customs and shipping
              .box-2
                h6 Improve Network
                | It creates a network of genuine people who you can count to get something from abroad
              .box-3
                h6 Easy to use
                | To get started, just login into the website and start shipping
              
            .span6.offset1
              img(src='/img/content/page.png', alt='')
            .span2.offset1
              .box-5
                h6 Save Your Time
                | Save your time and get good value of money.
              .box-6
                h6 Responsible Service
                | Of course we haven’t forgotten about the responsive layout.
              .box-7
                h6 Clear Goal
                | The sole purpose of this Service is to you save your money and get things you don't get in your country.
              
    //
       content-23  
    section.content-23.first.v-center.bg-midnight-blue
      div
        .container
          .hero-unit.hero-unit-bordered
            h1 Made in India
      a.control-btn.fui-arrow-down(href='#')  
    //
    
    section.content-9
      .container
        .row
          .span6
            h3 Mobile Apps
            p
              | We are preparing Social Ready Apps for your iPhones, iPads and Androids.
            .row
              .span3
                h6 Smart People 
                | Behind the app are really smart people who felt the need of the app and they built it with love
              .span3
                h6 Service 
                | It is a crowd based service.
          .span5.offset1.hidden-phone
            img(src='/img/browser-iphone@2x.png', width='300', height='300', alt='')
    //
       footer-12 
    footer.footer-12
      